.outside{
    background-color:rgb(250, 230, 141);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    width:100%;
}
.container{
    display:flex;
    justify-content: center;
    border-radius:20px;
    background-color:white;
    height:600px;
    width:850px;
}
.text{
    border-radius: 15px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    text-align:left;
    background-color:white;
    border-radius:15px;
    height:auto;
    padding:70px 50px;
}
img{
    border-radius:15px;
    height:100%;
    object-fit:cover;
}
.price{
    display:flex;
    justify-content:left;
    align-items:center;
}
.price h1{
    margin-right:10px;
}
.price p{
    text-decoration: line-through;
}
h1{
    font-size:30px;
    line-height:32px;
}
h2{
    line-height:20px;
}
p{
    line-height:20px;
}
button{
    background-color:green;
    width:80%;
    padding:10px;
    border-radius:15px;
    color:white;
    font-size:20px;
    cursor: pointer;
}
.button-style{
    display: flex;
    justify-content:center;
}
@media screen and (max-width: 768px) {
    .container{
        display:flex;
        flex-direction:column;
        align-items:center;
        width:90%;
        height:auto;
    }
    .container img{
        width:100%;
        border-radius:15px;
        height:initial;
    }
    .text{
       width:90%; 
       margin-top:0;
    }
    button{
        display:inline-block;
        margin-top:5%;
        font-size:15px;
    }
    .text h1{
        font-size:25px;
    }
    .text h2{
        font-size:20px;
    }
    

  }

  